@keyframes slide-in {
  0% {
    transform: translateY(-100px) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.active {
  border-bottom: 3px solid rgb(78, 77, 75);
}
